---
layout: default
title: "404: Page not found"
permalink: 404.html
---
<header>
  <ul class=menu>
    <li>
      <a href='/' class=active data-id=top><span class=tab-svg>{% include svg/top.svg %}</span><span
          class=tab-text>Top</span></a>
    </li>
    <div>
      <a href="/blog/"><span class=tab-svg>{% include svg/pen.svg %}</span><span class=tab-text>Blog</span></a>
    </div>
</header>
<article>
  <section id=404>
    <h1>404: Page not found</h1>
    <p>Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. 
      <a href="{{ "/" | relative_url }}">Head back top</a> or <a href="{{ "/blog" }}">blog</a> to try finding it again.</p>
  </section>
</article>