$tab:800px; 
@mixin tab {
  @media (min-width:($tab)) {
    @content;
  }
}
$tab:960px; 
@mixin pc {
  @media (min-width:($tab)) {
    @content;
  }
}

body{
  background:linear-gradient(90deg, rgb(123, 208, 231) 0%, #001E90 96%) fixed;
  background-size:cover;
  background-attachment:fixed;
  background-size:cover;
  color:rgb(236, 236, 236);
  // desable scroll bar
  -ms-overflow-style:none; // IE
  overflow:-moz-scrollbars-none; // Firefox
  &::-webkit-scrollbar { // Chrome
    display:none;
  }
}

.wrap{
  background-color:rgba(0, 0, 0, .767);
  width:95%;
  margin:2% auto 5%;
  padding: 0 10px 10px 10px;
  border-radius:.3rem;
  @include tab{
    width:760px;
  }
}

a{
  color:orange;
  text-decoration:none;
  &:hover{
    color:#fe2401;
  }
}

hr{
  margin:3% auto;
  border-width:0;
  height:3px;
  background-color:#ffbd42;
}

ul{
  list-style: none;
  padding-left:1rem;
}


li.nav-item{
  width:15%;
  &:hover{
    border:solid 1px orange;
    border-radius:.3rem;
  }
  @include tab{
    width:88px;
  }
}

a.nav-link{
  color:rgb(236, 236, 236);
  padding:8px;
  text-align:center;
}

span.tab-svg{
  display:block;
  text-align:center;
  svg{
    fill:gray;
    width:80%;
    @include tab{
      width:70%;
    }
  }
}

.nav-pills a.nav-link.active {
  background-color:orange;
  color:black;
  font-weight:bold;
  svg{
    fill:black;
  }
}

#tab-text{
  display:none;
  @include tab{
    display:inline-block;
    font-size:.8rem;
  }
}

//bootstrap 
.justify-content-center {
  -ms-flex-pack:center;
  justify-content:center;
}

.fade {
  transition:opacity .03s linear;
}

.fade:not(.show) {
  opacity:0;
}

.nav {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding-left:0;
}

.nav-link {
  display:block;
}

.nav-pills .nav-link {
  border-radius:.3rem;
}

 .tab-content > .tab-pane {
  display:none;
}

.tab-content > .active {
  display:block;
}

// content
#pills-tabContent{
  margin:0 5%;
}

.content-card span{
  svg{
    width:1rem;
    fill:orange;
    margin-right:.5rem;
  }
}

// top
.top-content{
  text-align:center;
  h1{
    margin-bottom:1rem;
  }
  h2{
    margin-bottom:.8px;
  }
  #jobchange{
    font-weight:bold;
    margin-top:2rem;
  }
}

.qr img{
  width:34%;
  margin:3% auto;
  @include tab{
    width:27%;
    margin:3% auto;
  }
}

.svg-links{
  margin-bottom:2rem;
  .svg-link{
    display:inline;
    margin:0 5px;
    a.icon:hover{
      color:transparent;
    }
    svg{
      width:13%;
      fill:rgb(236, 236, 236);
      @include tab{
        width:10%;
      }
    }
    #wantedly, #linkedin svg{
      width:15%;
      @include tab{
        width:12%;
      }
    }
  }
}

#subscribe svg:hover{
  fill:#ff8c00;
}
#github svg:hover{
  fill:#24292e;
  background-color:rgb(236, 236, 236);
}
#qiita svg:hover{
  fill:#55c500;
}
#wantedly svg:hover{
  fill:#00A4BB;
}
#linkedin svg:hover{
  fill:#0077b5;
}

//skill
.skill-content{
  .flex{
    @include tab{
      display:flex;
      flex-wrap:wrap;
    }
    .content-card{
      text-align:center;
      width:90%;
      margin:0 auto;
      padding:1rem;
      padding-bottom:0;
      border-bottom:solid 2px rgb(255, 189, 66);
      @include tab{
        width:40%;
      }
    }
    #odd{
      border-bottom:0;
    }
  }
}

.skill-content{
  .card-img{
    text-align:center;
    svg{
      width:40%;
    }
  }
  #ruby-svg svg{
    width:35%;
  }
  #java-svg svg{
    width:28%;
  }
  #html5-svg svg{
    width:28%;
  }
}

//works.html
.works-content{
  picture{
    width:100%;
  }
  img{
    width:100%;
  }
}

// posts
.posts-content .content-card{
  border:solid .5px grey;
  border-radius:.3rem;
  margin-bottom:1rem;
  &:hover{
    border:solid .5px #fe2401;
  }
  h4{
    display:inline-block;
    margin:.5rem auto;
  }
  a{
    display:block;
    padding:.5rem;
    p{
      margin:.5rem auto 0;
    }
  }
}