$tab:800px; 
@mixin tab {
  @media (min-width:($tab)) {
    @content;
  }
}
$pc:960px; 
@mixin pc {
  @media (min-width:($pc)) {
    @content;
  }
}
$sm:481px;
@mixin sm {
  @media (min-width:($sm)){
    @content;
  }
}

body{
  min-height: 100vh;
  background-color: rgb(61, 119, 238);
  background:linear-gradient(90deg, rgb(123, 208, 231) 0%, rgb(0, 30, 144) 96%) fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  // desable scroll bar
  -ms-overflow-style: none; // IE
  overflow:-moz-scrollbars-none; // Firefox
  &::-webkit-scrollbar { // Chrome
    display: none;
  }
  @include tab{
    -webkit-overflow-scrolling: touch;
  }
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  width: .5rem;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: .3rem;
}

.wrap{
  background-color: rgba(0, 0, 0, .767);
  width: 95%;
  margin: 2% auto 5%;
  padding: 0 .7rem .7rem;
  border-radius: .3rem;
  @include tab{
    width: 760px;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu li, .menu div{
  width:15%;
  text-align: center;
  &:hover{
    svg{
      fill: rgb(255, 165, 0);
      transition: .1s;
    }
  }
  @include tab{
    width: 88px;
  }
}

.menu a {
  display: inline-block;
  text-align: center;
  padding: .5rem 0;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: .25rem;
}

.tab-svg{
  display: block;
  text-align: center;
  svg{
    fill: rgb(128, 128, 128);
    width: 80%;
    @include tab{
      width: 70%;
    }
  }
}

.menu a.active{
  background-color: rgb(255, 165, 0);
  color: #000;
  font-weight: bold;
  svg{
    fill: #000;
  }
}

.tab-text{
  display: none;
  @include tab{
    display: inline-block;
    font-size: .8rem;
  }
}

.content.active {
  color: #fff;
  min-height: 9.4rem;
  padding: .75rem;
  display: block;
}

.content {
  display: none;
}

.card svg, #cv-svg svg, .blog-list svg, .post svg{
    width: 1rem;
    fill: rgb(255, 165, 0);
    margin-right: .5rem;
}

// top
.top{
  text-align: center;
  h1, h2{
    margin: 1rem auto;
  }
  p{
    margin-top: 2rem;
    font-weight: bold;
  }
}

.top .qr{
  width: 34%;
  margin: 3% auto;
  @include tab{
    width: 22%;
    margin: 3% auto;
  }
}

.svg-links{
  margin-bottom: 2rem;
  .svg-link{
    display: inline;
    margin: 0 .3rem;
    a.icon:hover{
      color: transparent;
    }
    svg{
      width: 13%;
      fill: rgb(236, 236, 236);
      @include tab{
        width: 10%;
      }
    }
    #wantedly, #linkedin svg{
      width: 15%;
      @include tab{
        width: 12%;
      }
    }
  }
}

#subscribe svg:hover{ fill: #ff8c00; }
#github svg:hover{ 
  fill: #24292e;
  background-color:rgb(236, 236, 236);
}
#qiita svg:hover{ fill: #55c500; }
#wantedly svg:hover{ fill: #00A4BB; }
#linkedin svg:hover{ fill: #0077b5; }

//skill
.skill{
  .flex{
    display: flex;
    flex-wrap: wrap;
    .card{
      text-align: center;
      width: 90%;
      margin: 0 auto;
      padding: 1rem;
      padding-bottom: 0;
      border-bottom: solid 2px rgb(255, 189, 66);
      @include sm{
        width:40%;
      }
    }
    #odd{
      border-bottom: 0;
    }
  }
}

.skill{
  .svg{
    text-align: center;
    svg{
      width: 40%;
    }
  }
  #java svg{ width: 20%; }
  #ruby svg{ width: 30%; }
  #vb svg{ width: 40%; }
  #html5 svg{ width: 28%; }
  #cpp svg{ width: 30%; }
}

//works.html
.works{
  picture{
    width: 100%;
  }
  img{
    width: 100%;
  }
}

// baseurl/blog.html or /blog/~~
.post.content.active{
  h1, h2{
    font-weight: normal;
  }
  h2 {
    text-align: left;
    border-left: 0.32rem solid rgb(255, 165, 0);
    margin: 2rem 0 .5rem 0;
    padding: .5rem 0 .5rem .5rem;
  }
  svg{
    fill: rgb(135, 206, 235);
  }
}

// blog-list root-url/blog.html
ul.blog-list{
  padding-left: 0;
  list-style: none;
  h1{
    font-size: 1.75rem;
  }
  .tags, .datetime{
    font-size: .8rem;
  }
  hr:last-child{
    display: none;
  }
}