<!-- Optional additional links to insert for icons links -->

<a id="github-link" class="icon" title="Github" aria-label="Github"
  href="https://github.com/{{ site.github_username }}">
  {% include svg/github.svg %}
</a>

<a id="qiita-link" class="icon" title="Qiita" aria-label="Qiita"
  href="https://qiita.com/{{site.qiita}}">
  {% include svg/qiita.svg %}
</a>

<a id="wantedly-link" class="icon" title="Wantedly" aria-label="Wantedly"
  href="https://www.wantedly.com/users/{{ site.wantedly}}">
  {% include svg/wantedly.svg %}
</a>

<a id="linkedin-link" class="icon" title="LinkedIn" aria-label="LinkedIn"
  href="https://linkedin.com/in/{{ site.linkedin }}">
  {% include svg/linkedin.svg %}
</a>
