<!doctype html>
<html lnag=ja>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta http-equiv="content-type" content="text/html; charset=utf-8" >
  <meta name=viewport content="width=device-width, initial-scale=1" >
  <meta name="theme-color" content=#2E2E2E>
  <title>
    {% if page.title == "Home" %}
    {{ site.title }}{% if site.tagline %} {{ site.tagline }}{% endif %}
    {% else %}
    {{ page.title }} {{ site.title }}
    {% endif %}
  </title>

  <link rel=stylesheet href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin=anonymous>
  <link rel=stylesheet href="{{ "/assets/css/main.css" | relative_url }}" />
  {% include favicons.html %}
  <link rel=alternate type="application/rss+xml" title=RSS
    href="{{ site.feed.path | default: 'feed.xml' | relative_url }}" />
    
  {% include twitter-card.html %}
</head>
