<!-- <div class="svg-link">
  <a id="subscribe" class="icon" title="Subscribe" aria-label="Subscribe"
    href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
    {% include svg/feed.svg %}
  </a>
</div> -->
<div class="svg-link">
  <a id="github-link" class="icon" title="Github" aria-label="Github" target="_blank" rel="noopener noreferrer"
    href="https://github.com/{{ site.github }}">
    {% include svg/github.svg %}
  </a>
</div>

<div class="svg-link">
  <a id="qiita-link" class="icon" title="Qiita" aria-label="Qiita" target="_blank" rel="noopener noreferrer"
    href="https://qiita.com/{{site.qiita}}"> 
    {% include svg/qiita.svg %}
  </a>
</div>
<div class="svg-link">
  <a id="wantedly-link" class="icon" title="Wantedly" aria-label="Wantedly" target="_blank" rel="noopener noreferrer"
    href="https://www.wantedly.com/users/{{ site.wantedly}}">
    {% include svg/wantedly.svg %}
  </a>
</div>
<div class="svg-link">
  <a id="linkedin-link" class="icon" title="LinkedIn" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer"
    href="https://linkedin.com/in/{{ site.linkedin }}">
    {% include svg/linkedin.svg %}
  </a>
</div>