<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.twitter}}">

<!-- {% if page.title %}
<meta name="twitter:title" content="{{ page.title }}">
{% else %} -->
<meta name="twitter:title" content="{{site.title}}" >
<!-- {% endif %} -->

<!-- {% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %} -->
<meta name="twitter:description" content="{{ site.description }}/ {{site.sub-description}}">
<!-- {% endif %} -->

<!-- {% if page.image %} -->
<!-- <meta name="twitter:image" content="{{ page.url }}/{{ page.image }}">
{% else %} -->
<meta name="twitter:image" content="{{site.url}}/assets/{{ site.image }}">
<!-- {% endif %} -->