<div class="experience-content">
  <p>学歴や職歴など</p>
  <div class="content-card">
    <div class="period">
      <h5><span>{% include svg/cv.svg %}</span>2013.04 - 2017.03</h5>
    </div>
    <ul>
      <li>宮崎大学農学部植物生産環境科学科
        <ul>
          <li>農業生産システム工学研究室
            <ul>
              <li>植物学や農業機械工学等</li>
              <li>農作物列検出方法の研究</li>
              <li>C++, OpenCV</li>
            </ul>
          </li>
          <li>自転車競技部</li>
        </ul>  
    </ul>
  </div>
  <hr>
  <div class="content-card">
    <div class="period">
      <h5><span>{% include svg/cv.svg %}</span>2017.04 - 2018.08</h5>
    </div>
    <ul> 
      <li>鶏卵企業
        <ul>
          <li>卵生産から加工、販売まで</li>
          <li>大型機械を操作し、製造／生産管理</li>
        </ul>
      </li>
    </ul>
  </div>
  <hr>
  <div class="content-card">
    <div class="period">
      <h5><span>{% include svg/cv.svg %}</span>2018.11 - 2019.09</h5>
    </div>
    <ul>
      <li>主にオーストラリア滞在
        <ul>
          <li>プログラミング勉強</li>
          <li><a href="https://qiita.com/OriverK/items/30d8941c7799c9aa6dfd" target="_blank" rel="noopener noreferrer">Qiita：日本人エンジニアの下で、Ruby等を学んできた</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>