<section class=card>
  <p><span id=cv-svg>{% include svg/cv.svg %}</span><a href="https://github.com/oriverk/CV" target="_blank"  rel="noopener noreferrer">Github上の履歴書等はこちら</a></p>
</section>
<section class=card>
  <p><span>{% include svg/cv.svg %}</span>2013.04 - 2017.03</p>
  <ul>
    <li>宮崎大学農学部植物生産環境科学科
      <ul>
        <li>植物学や農業機械工学等</li>
        <ul>
          <li>農業生産システム工学研究室
          <li>農作物列検出方法の研究</li>
            <li>C++, OpenCV</li>
          </ul>
        </li>
        <li>自転車競技部</li>
      </ul>  
  </ul>
</section>
<section class=card>
  <h5><span>{% include svg/cv.svg %}</span>2017.04 - 2018.08</h5>
  <ul> 
    <li>鶏卵企業
      <ul>
        <li>卵生産から加工、販売まで</li>
        <li>大型機械操作、製造／生産管理</li>
      </ul>
    </li>
  </ul>
</section>
<section class=card>
  <h5><span>{% include svg/cv.svg %}</span>2018.11 - 2019.09</h5>
  <ul>
    <li>主にオーストラリア滞在
      <ul>
        <li><a href="https://qiita.com/OriverK/items/30d8941c7799c9aa6dfd" target="_blank" rel="noopener noreferrer">Qiita：日本人エンジニアの下で、Ruby等を学んできた</a></li>
      </ul>
    </li>
  </ul>
</section>