<div class="experience-content">
  <p>学歴や職歴など</p>

  <div class="content-card">
    <div class="period">
      <h5><span>{% include svg/cv.svg %}</span>2013.04 - 2017.03</h5>
    </div>
    <ul>
      <li>宮崎大学農学部植物生産環境科学科
        <ul>
          <li>植物学や農業機械工学等</li>
          <li>自転車競技部</li>
        </ul>  
      </li>
      <li>農業生産システム工学研究室
        <ul>
          <li>農作物列検出方法の研究</li>
          <li>C++、OpenCV</li>
        </ul>
      </li>
      <li>農学学士　取得</li>
    </ul>
    <hr>
  </div>
  <div class="content-card">
    <div class="period">
      <h5><span>{% include svg/cv.svg %}</span>2017.04 - 2018.08</h5>
    </div>
    <ul> 
      <li>鶏卵企業
        <ul>
          <li>種鶏・卵生産から販売、加工出荷まで行う企業</li>
          <li>大型機械を操作し、生産管理</li>
        </ul>
      </li>
    </ul>
    <hr>
  </div>
  
  <div class="content-card">
    <div class="period">
      <h5><span>{% include svg/cv.svg %}</span>2018.11 - 2019.09</h5>
    </div>
    <ul>
      <li>主にオーストラリア滞在
        <ul>
          <li>プログラミング勉強に費やした</li>
          <li><a href="https://qiita.com/OriverK/items/30d8941c7799c9aa6dfd" target="_blank" rel="noopener noreferrer">Qiita：日本人エンジニアの下で、Ruby等を学ぶ</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>