<p>言語など。※何れも業務未経験</p>
<div class=flex>
  <section class=card>
    <div id=java class=svg>{% include svg/java.svg %}</div>
    <h4 class>Java</h4>
    <p>SpringBoot</p>
    <p>2019.09から勉強開始</p>
  </section>
  <section class=card>
    <div id=ruby class=svg>{% include svg/ruby.svg %}</div>
    <h4>Ruby</h4>
    <p>FW:Rails, DB:Postgresql, MySQL</p>
    <p>2019.03から主として使用</p>
  </section>
  <section class=card>
    <div id=virtualbox class=svg>{% include svg/virtualbox.svg %}</div>
    <h4>Virtual Box</h4>
    <p>with Vagrant, Linux Ubuntu</p>
    <p>CUI環境を複数構築、運用</p>
  </section>
  <section class=card>
    <div id=html5 class=svg>{% include svg/html5.svg %}</div>
    <h4>HTML / CSS</h4>
    <p>SCSS</p>
    <p>随時勉強中</p>
  </section>
  <section id=odd class=card>
    <div class=svg>{% include svg/c.svg %}</div>
    <h4>C++, OpenCV</h4>
    <p>大学卒論で使用</p>
    <p>農作物列検出方法の研究</p>
  </section>
  <section id=odd class=card></section>
</div>