<div class="skill-content">
  <p>やったことある言語や程度など。※業務未経験</p>
  <div class="flex">
    <div class="content-card">
      <div id="java-svg" class="card-img">{% include svg/java.svg %}</div>
      <h4 class="card-title">Java</h4>
      <p class="card-text">SpringBoot</p>
      <p class="card-status">2019.09から勉強開始</p>
    </div>
    <div class="content-card">
      <div class="card-img">{% include svg/ruby.svg %}</div>
      <h4 class="card-title">Ruby</h4>
      <p class="card-text">FW:Rails, DB:Postgresql, MySQL</p>
      <p class="card-status">2019.03から主として使用</p>
    </div>
    <div class="content-card">
      <div class="card-img">{% include svg/virtualbox.svg %}</div>
      <h4 class="card-title">Virtual Box</h4>
      <p class="card-text">with Vagrant, Linux Ubuntu</p>
      <p class="card-status">CUI環境を複数構築し、使用</p>
    </div>
    <div class="content-card">
      <div id="html5-svg" class="card-img">{% include svg/html5.svg %}</div>
      <h4 class="card-title">HTML / CSS</h4>
      <p class="card-text">SCSS</p>
      <p class="card-status">随時勉強中</p>
    </div>
    <div id="odd" class="content-card">
      <div class="card-img">{% include svg/c.svg %}</div>
      <h4 class="card-title">C++, OpenCV</h4>
      <p class="card-text">大学卒論で使用</p>
      <p class="card-status">農作物列検出方法の研究</p>
    </div>
    <!-- now the number of contetnt-card is odd, so made the empty. -->
    <div id="odd" class="content-card">
      <div class="card-image"></div>
      <h4 class="card-title"></h4>
      <p class="card-text"></p>
      <p class="card-status"></p>
    </div>
  </div>
</div>