<div class=flex>
  <section class=card>
    <div id=java class=svg>{% include svg/java.svg %}</div>
    <p>FW: SpringBoot</p>
    <p>2019.09から勉強開始</p>
  </section>
  <section class=card>
    <div id=ruby class=svg>{% include svg/ruby.svg %}</div>
    <p>FW: Rails</p>
    <p>2019.03から主として使用</p>
  </section>
  <section class=card>
    <div id=vb class=svg>{% include svg/virtualbox.svg %}</div>
    <p>with Vagrant for VM with Ubuntu</p>
    <p>CUI環境を複数運用</p>
  </section>
  <section class=card>
    <div id=html5 class=svg>{% include svg/html5.svg %}</div>
    <p>and CSS / SCSS</p>
    <p>随時勉強中</p>
  </section>
  <section id=odd class=card>
    <div id=cpp class=svg>{% include svg/cpp.svg %}</div>
    <p>for Image Processing with OpenCV</p>
    <p>学士論文: 農作物列検出の研究</p>
  </section>
  <section id=odd class=card></section>
</div>