{% include head.html %}

<body>
  <div class="wrap">
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab">
      <li class="nav-item">
        <a class="nav-link" id="pills-1-tab" href="/" aria-controls="pills-1" aria-selected="false"><span
            class="tab-svg">{% include svg/top.svg %}</span><span id="tab-text">Top</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-2-tab" href="/" aria-selected="false"><span
            class="tab-svg">{% include svg/cv.svg %}</span><span id="tab-text">Experience</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-3-tab" href="/" aria-selected="false"><span
            class="tab-svg">{% include svg/floppy.svg %}</span><span id="tab-text">Skill</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-4-tab" href="/" aria-selected="false"><span
            class="tab-svg">{% include svg/fireworks.svg %}</span><span id="tab-text">Works</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="pills-5-tab" href="/posts" aria-selected="true"><span
            class="tab-svg">{% include svg/pen.svg %}</span><span id="tab-text">Posts</span></a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="posts-content">
        {{ content }}
      </div>
    </div>
  </div>
  {% include bootstrap.html %}
  {% include google-analytics.html %}
</body>
</html>