{% include head.html %}

<body>
  <div class=wrap>
    <header>
      <ul class=menu>
        <li>
          <a href="/"><span class=tab-svg>{% include svg/top.svg %}</span></a>
        </li>
        <li>
          <a href="/blog" class=active><span class=tab-svg>{% include svg/pen.svg %}</span></a>
        </li>
        <!-- <li>
          <a href="/blog"><span class=tab-svg>{% include svg/tag.svg %}</span></a>
        </li> -->
      </ul>
    </header>
    <article>
      <section class='post content active'>
        {{ content }}
      </section>
    </article>
  </div>
  {% include google-analytics.html %}
</body>
</html>